# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Browserify cache & build files
bundle.js
.bundle.js

# sources
/docs/
/draft-js-alignment-plugin/
/draft-js-dnd-plugin/
/draft-js-emoji-plugin/
/draft-js-image-plugin/
/draft-js-sticker-plugin/
/draft-js-undo-plugin/
/legacy/
/scripts/
/draft-js-focus-plugin/
/draft-js-undo-plugin/
package.json

# NPM debug
npm-debug.log

tests
docs
